<?xml version="1.0" encoding="utf-8"?>
<manifest
   xmlns:android="http://schemas.android.com/apk/res/android"
   package="la.yakumo.facebook.tomofumi"
   android:versionCode="1"
   android:versionName="1.0"
   android:installLocation="preferExternal">
  <application
     android:theme="@android:style/Theme.Light"
     android:label="@string/app_name"
     android:icon="@drawable/icon"
     android:process=":main">
    <activity
       android:name=".activity.StreamListActivity"
       android:label="@string/app_name"
       android:configChanges="keyboard|orientation|keyboardHidden"
       android:process=":main"
       >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
       android:name=".activity.TextPostActivity"
       android:label="@string/text_post_title"
       android:process=":main"
       >
      <intent-filter>
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="text/*" />
        <data android:mimeType="image/*" />
      </intent-filter>
    </activity>

    <activity
       android:name=".activity.LinkCheckActivity"
       android:label="@string/link_check_title"
       android:noHistory="true"
       android:process=":main">
    </activity>

    <activity
       android:name=".activity.StreamItemActivity"
       android:label="@string/stream_item_title"
       android:configChanges="keyboard|orientation|keyboardHidden"
       android:windowSoftInputMode="stateHidden|adjustResize"
       android:process=":main"
       >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
      </intent-filter>
    </activity>

    <activity
       android:process=":service"
       android:name=".service.LoginActivity"
       android:label="@string/login_title">
    </activity>

    <service
       android:process=":service"
       android:name=".service.ClientService">
    </service>

    <service
       android:process=":main"
       android:name=".service.LocalService">
    </service>
  </application>

  <uses-permission
     android:name="android.permission.INTERNET" />

  <uses-sdk
     android:minSdkVersion="4" />
  <supports-screens
     android:smallScreens="true"
     android:normalScreens="true"
     android:largeScreens="true"
     android:xlargeScreens="true"
     android:anyDensity="true" />
</manifest>
